:root{
    --fundo: #3cb0fd;
    --fonte: normal 15pt Arial;
    --fundo-section: #fff;

}
/*
*{
    margin: 0;
    padding:0;
    font-family: var(--fonte);
    
}
/*
body{
    background-color: var(--fundo);
    display: flex;
    flex-direction: column;
    align-items: center;
    

}
section{
    
    margin: 5rem;
    background-color: var(--fundo-section);
    height: 400px;
    width: 400px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    
}
#mensagem{

    position: absolute;
    top: 145px;
    left: 35%;
    font-size: 40px;
}

div{
    display: flex;
    position: relative;
    top: 20%;
    right: 16%;
    transform: translateY(-10%);
}
footer{
    display: flex;
    background-color: rgb(14, 4, 88);
    color: #fff;
    height: 109px;
    width: 100%;
    justify-content: center;
    align-items: center;

}

*/
body{
    background-color: #3cfde3;
    font: normal 15pt Arial;
    
}

header{
    color: #fff;
    text-align: center;
}

section{
    background-color: #fff;
    border-radius: 15px;
    padding: 15px;
    width: 500px;
    height: 400px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.365);
    margin: auto;
    text-align: center;
}

footer{
    color: #fff;
    text-align: center;
    font-style: italic;
}


